/node_modules
/dist
/back/dist
/build
/dist-ssr

logs
*.log
.npm
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

/.temp
/.tmp
/.nyc_output
/.npm/
/.cache
/.idea/
.DS_Store

data-mongo/
data-postgres/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?